<!doctype html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch shop | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

  <!-- CSS here -->
      <link rel="stylesheet" href="../assets/css/bootstrap.min.css">  
      <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="../assets/css/flaticon.css">
      <link rel="stylesheet" href="../assets/css/slicknav.css">
      <link rel="stylesheet" href="../assets/css/animate.min.css">
      <link rel="stylesheet" href="../assets/css/magnific-popup.css">
      <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
      <link rel="stylesheet" href="../assets/css/themify-icons.css">
      <link rel="stylesheet" href="../assets/css/slick.css">
      <link rel="stylesheet" href="../assets/css/nice-select.css">
      <link rel="stylesheet" href="../assets/css/style.css">
      <link rel="stylesheet" href="../assets/css/watch.css">
      <link rel="stylesheet" href="../assets/css/watchUser.css">
      <link rel="stylesheet" href="assets/css/watchOrder.css"

  <!-- ---------------------- -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="js/checkOutValidation.js"></script>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

 
</head>

<body>
  <header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img style="padding-left:3rem ;" src="../assets/img/logo/logo.svg" alt=""></a>
                    </div>
                    <% if(userlogIn) { %>     
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>   
                            <ul id="navigation">  
                                <li><a href="/home">Home</a></li>
                                <li><a href="shop.html">shop</a></li>
                                <!-- <li><a href="about.html">about</a></li> -->
                                <!-- <li class="hot"><a href="#"></a>Category
                                    <ul class="submenu">
                                        <li><a href="shop.html">Men</a></li>
                                        <li><a href="product_details.html">Women</a></li>
                                        <li><a href="product_details.html">Smart  Watches</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="blog.html">Categorys</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">Men</a></li>
                                        <li><a href="blog-details.html">Women</a></li>
                                        <li><a href="blog-details.html">Smart Watches</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="name" ><%=user.firstName+' '+user.lastName%></a>
                                    <ul class="submenu">
                                        <!-- <li><a href="/offers">Offers</a></li> -->
                                        <li><a href="/cart">Cart<span class="badge badge-success"></span></a></li>
                                        <li><a href="/my-account">My Account</a></li>
                                        <li><a href="/my-orders">My Orders</a></li>
                                        <li><a href="/my-wishlist">My Wishlist</a></li>
                                        <!-- <li><a href="checkout.html">Product Checkout</a></li> -->
                                    </ul>
                                </li>
                                <!-- <li><a href="contact.html">Contact</a></li> -->
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <!-- <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li> -->
                            <li><a href="/logout"><span class="">Log Out</span></a></li>
                            <!-- <li><a href=""><span class="flaticon-user"></span></a></li> -->
                            <!-- <li><a href="/my-orders"><span class="flaticon-user"></span></a></li> -->
                            <li><a href="/cart"><span class="flaticon-shopping-cart">
                                <sup class="cart-qnty" id="cart-count" style="color: rgb(116, 6, 97); font-size:medium"><%=cartCount%></sup></span></a></li>
                        </ul>
                    </div>
                </div>
                <% } else { %>
                    <div class="header-right">
                        <ul>
                            <!-- <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li> -->
                            <li><a href="/login"><span class="">Log In</span></a></li>
                            <li><a href="/signup"><span class="">Sign Up</span></a></li>
                            <!-- <li><a href=""><span class="flaticon-user"></span></a></li> -->
                            <!-- <li><a href="/my-orders"><span class="flaticon-user"></span></a></li> -->
                            <!-- <li><a href="/cart"><span class="flaticon-shopping-cart"> -->
                        </ul>
                    </div>
               <% } %>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
  </header>