<%-include('../include/user-header')%>

    <div class="container">
        <div class="main-body"> <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb" style="margin-left: 10.9rem;width: 44.5rem;">
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
          </ol>
        </nav>
            <form action="/newPassword" method="post">

              <p style="color: red;"> <%=passworderror%> </p>
              
                <div class="col-md-8">
                  <div class="card-one mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Old Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="password" id="oldpswd" name="oldPswd" value="" placeholder="Old Password" style="border-width:0px;border:none;outline:none;"
                          oninput="oldpasswordvalid()">
                          <p id="oldpwd" style="color: red; padding-left:1rem;display: none;"></p>

                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">New Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">                          
                            <input type="password" value="" id="newpswd" name="newPswd" placeholder="New Password" style="border-width:0px;border:none;outline:none;" 
                            oninput="passwordvalid()">
                            <p id="newpwd" style="color: red; padding-left:1rem;display: none;"></p>
                        </div>
                      </div>
                      
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Confirm Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="password" value="" id="confirmpswd" name="confirmPswd" placeholder="Confirm Password" style="border-width:0px;border:none;outline:none;"
                           oninput="newpasswordvalid()">
                           <p id="confirmpwd" style="color: red; padding-left:1rem;display: none;"></p>
                        </div>
                      </div>
                      <hr>
                      <a style="color: black;" href="/my-account">Cancel</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button style="color: black;border: none;background: none;cursor: pointer;" type="submit">Save</button>                                 
                
                </div>
              </div>
            </form>
    
            </div>
        </div>

    
    
    
    
    
        <hr style="border-top: 1px dashed rgb(29, 22, 22);width: 90%; margin: 3rem auto;">



    <!-- script -->
    <script>
      function oldpasswordvalid() {
    value1 = false;
    if ($("#oldpswd").val().match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/)) {
        value1 = true;
        document.getElementById("oldpwd").style.display = "none";
    } else {
        document.getElementById("oldpwd").style.display = "block";
        document.getElementById("oldpwd").innerHTML = "Enter Your Old Password";
        value1 = false;
    }

}

      // -----------------------------//
      
function passwordvalid() {
    value2 = false;
    if ($("#newpswd").val().match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/)) {
        value2 = true;
        document.getElementById("newpwd").style.display = "none";
    } else {
        document.getElementById("newpwd").style.display = "block";
        document.getElementById("newpwd").innerHTML = "Enter a valid Password";
        value2 = false;
    }

}
// -----------------------------//
function newpasswordvalid() {
    value3 = false;
    if ($("#confirmpswd").val().match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/)) {
        value3 = true;
        document.getElementById("confirmpwd").style.display = "none";
    } else {
        document.getElementById("confirmpwd").style.display = "block";
        document.getElementById("confirmpwd").innerHTML = "Confirm your new Password";
        value3 = false;
    }

}

</script>

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    
    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>
</html>