<%= for(i=0;i< products.length;i++) { %>
                    
    <tr>
      <td>
        <div class="media">
          <div class="d-flex">
          <img style="width: 70px; height: 70px" src="<%=products.Items[0].image %>" alt="">

          </div>
          <div class="media-body">
            <p>Minimalistic shop for multipurpose use</p>
          </div>
        </div>
      </td>
      <td>
        <h5><%= products[i].price %></h5>
      </td>
      <td>
        <div class="product_count">
          <span class="input-number-decrement"> <i class="ti-minus"></i></span>
          <input class="input-number" type="text" value="1" min="0" max="10">
          <span class="input-number-increment"> <i class="ti-plus"></i></span>
        </div>
      </td>
      <td>
        <h5>$720.00</h5>
      </td>
    </tr>

    <%= } %>


