/* .order {
    width: 50%;
    height: 50px;
    border-color:red ;
} */
.order-success {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 17rem;
}
.order {
    width: 30%;
    padding: 5rem 0 0 5rem;
}
.btn-shopping {
    width: 15rem;
    color: rgb(21, 20, 21);
    margin:0 0 0 5rem;
    margin-left:2rem;
    height: 2rem;
    border-radius: .3rem;
    border:none;
    background-color: rgba(106, 155, 204, 0.478);
    cursor: pointer;
}
.btn-orders {
    color: rgb(39, 29, 29);
    margin: 1rem 0 0 5rem;
    margin-left:2rem;
    width: 15rem;
    height: 0rem;
    border-radius: .3rem;
    border:none;
    background-color: rgba(106, 155, 204, 0.478);
    cursor: pointer;
}